In [1]:
import pandas as pd

**creating the data frame using the dictionary**

In [2]:

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

In [ ]:
df = pd.DataFrame(data)
print(df)

**creating data frame using list**

In [4]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago'],
    ['David', 40, 'Houston']
]

In [ ]:
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

**creating data frame using the series**

In [6]:
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

In [ ]:
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

print(df)

**sorted values by age**

In [ ]:
data = {
    'Name': ['Max', 'clary', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Score': [85, 90, 95, 80]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

In [ ]:
 print(df.sort_values(by='Age', ascending=True)) #ascending order

In [ ]:
 print(df.sort_values(by='Age', ascending=False))#descending order

**Addition of columns named "No of projects completed"**

In [ ]:
df['No of Projects Completed'] = [5, 7, 10, 3]
print(df)

**working on rows**

In [ ]:
print(df.loc[1])

**addition of row**

In [ ]:
new_row = {'Name': 'Eva', 'Age': 28, 'Score': 88}
df.loc[4]=new_row
print(df)

**deletion of column**

In [ ]:
df_dropped = df.drop(columns=['No of Projects Completed'])
print("\nDataFrame after deleting 'No of Projects Completed' column:")
print(df_dropped)

**deletion of data frame**

In [ ]:
del df
print(df)